.about {
  margin-bottom: 104px;
}

.about__title {
  margin-bottom: 19px;
  margin-left: 2px;
}

.about__descr {
  max-width: 1235px;
  margin-bottom: 43px;
  line-height: 32px;
}

.about__descr_important-icon {
  display: inline-block;
  min-width: 16px;
  min-height: 16px;
  line-height: 1;
  text-align: center;
  color:  var(--white-color);
  background-color: var(--accent-color);
  border-radius: 50%;
}

.about__descr_icon {
  margin-left: 6px;
  transform: translateY(2px);
}

.about__cards-container {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
}

.big-card {
  display: flex;
  flex: 1 1 870px;
  max-width: 870px;
  margin-right: 30px;
  background: no-repeat center / cover url(../img/about/pic-1.webp);
}

.big-card__descr-container {
  display: flex;
  flex: 1 1 870px;
  align-self: flex-end;
  align-items: center;
  min-height: 176px;
  max-width: 100%;
  padding: 0 68px 0 54px;
  background: rgba(0, 0, 0, .5);
}

.big-card__descr-text {
  max-width: 500px;
  margin-right: 20px;
  font-weight: 700;
  line-height: 32px;
  color: var(--white-color);
}

.big-card__btn {
  align-self: center;
  align-items: center;
  height: 60px;
  width: 175px;
  padding: 20px 38px;
  margin-left: auto;
  background-color: transparent;
  border: 3px solid var(--accent-color);
}

.big-card__btn:hover,
.big-card__btn:focus {
  background-color: var(--accent-color);
}

.big-card__btn:active {
  background-color: var(--active-color);
  border-color: var(--active-color)
}

.small-cards {
  display: flex;
  flex-direction: column;
  margin-top: 2px;
}

.small-cards__card:first-child {
  margin-bottom: 30px;
}

.small-cards__card {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  min-height: 295px;
  max-width: 870px;
  padding: 0 15% 0 calc(34% + 3px);
  border: 1px solid var(--border-color);
}

.small-cards__descr{
  line-height: 32px;
}

.small-cards__descr_br {
  display: none;
}

.small-cards__descr::first-line {
  font-size: 24px;
  line-height: 35px;
  font-weight: 700;
}

.small-cards__card_bgr-1 {
  background: no-repeat 9% 45% url(../img/about/box.svg);
}

.small-cards__card_bgr-2 {
  background: no-repeat 9% 38% url(../img/about/cogwheel.svg);
}
