/* montserrat-300 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local(''),
       url('../fonts/montserrat-light.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/montserrat-light.woff') format('woff'); /* Modern Browsers */
}
/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
       url('../fonts/montserrat-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-regular.woff') format('woff'); /* Modern Browsers */
}
/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(''),
       url('../fonts/montserrat-medium.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-medium.woff') format('woff'); /* Modern Browsers */
}
/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(''),
       url('../fonts/montserrat-semibold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-semibold.woff') format('woff'); /* Modern Browsers */
}
/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
       url('../fonts/montserrat-bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-bold.woff') format('woff'); /* Modern Browsers */
}
/* montserrat-800 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local(''),
       url('../fonts/montserrat-extrabold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-extrabold.woff') format('woff'); /* Modern Browsers */
}
