.footer_bg {
  background: var(--footer-color);
}

.footer {
  padding-bottom: 80px;
}
.footer__container {
  display: flex;
}

.f-left {
  max-width: 320px;
  padding-top: 48px;
}

.nav-footer {
  margin-bottom: 115px;
}

.nav-footer__item:not(:last-child) {
  margin: 18px 0;
}

.nav-footer__item_link {
  font-size: 18px;
  line-height: 1;
  font-weight: 600;
  color: var(--footer-text-color);
}

.nav-footer__item_link:hover,
.nav-footer__item_link:focus {
  color: var(--white-color);
}

.nav-footer__item_link:active {
  color: var(--white-color);
}

.social {
  display: flex;
}

.social__item:not(:last-child) {
  margin-right: 25px;
}

.social__item_link {
  display: flex;
  height: 60px;
  width: 60px;
}

.social__item_link:hover .social__item_link_fb path,
.social__item_link:focus .social__item_link_fb path {
  fill: var(--social-hover);
}

.social__item_link:hover .social__item_link_vk path,
.social__item_link:focus .social__item_link_vk path {
  fill: var(--social-hover);
}

.social__item_link:hover .social__item_link_inst path,
.social__item_link:focus .social__item_link_inst path {
  fill: var(--social-hover);
}

.f-center {
  display: flex;
  flex-direction: column;
  flex: 1 1 570px;
  max-width: 570px;
  margin-left: calc(19% + 13px);
  margin-right: 20px;
  padding-top: 51px;
}

.f-center__title {
  margin-bottom: 10px;
  margin-left: -3px;
  line-height: 78px;
  color: var(--footer-text-color);
}

.f-center__form {
  display: flex;
  flex-direction: column;
}

.f-center__input,
.f-center__area {
  width: 100%;
  height: 60px;
  margin-bottom: 25px;
  padding: 11px 0 10px 23px;
  background: var(--bg-input);
  border: none;
  color: var(--footer-text-color);
  outline: none;
}

.f-center__area {
  max-width: 100%;
  min-height: 150px;
  margin-bottom: 31px;
  padding-top: 21px;
  resize: none;
}

.f-center__btn-container {
  display: flex;
}

.f-center__btn {
  display: flex;
  justify-content: center;
  width: 270px;
  margin-right: 15px;
  padding: 22px 0;
}

.f-center__agreement {
  align-self: center;
  margin-left: auto;
  cursor: pointer;
}

.f-center__check {
 background: transparent;
 cursor: pointer;
}

.f-center__lable {
  color: var(--footer-text-color);
  cursor: pointer;
}

.f-center__agreement:hover .f-center__lable,
.f-center__agreement:focus .f-center__lable {
  color: var(--white-color);
}

.footer__right {
  margin-left: auto;
  padding: 127px 2px;
}

.footer__descr {
  max-width: 360px;
  line-height: 32px;
  color: var(--footer-text-color);
}
