.header {
  margin-bottom: 1px;
}

.header_bg {
  background: var(--white-color);
}

.header__container {
  display: flex;
  align-items: center;
  min-height: 100px;
  background-color: var(--white-color);
}

.header__burger {
  display: none;
}

.header__logo {
  margin-right: auto;
}

.nav-header.active {
  transform: none;
}

.nav-header__list {
  display: flex;
  transform: translateY(3px);
}

.nav-header__item {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;

}

.nav-header__item:not(:last-child) {
  margin-right: 91px;
}

.nav-header__item_link {
  border-bottom: 2px solid transparent;
}

.nav-header__item_link:hover,
.nav-header__item_link:focus {
  border-bottom: 2px solid var(--accent-color);
}

.nav-header__item_link:active {
  color: var(--active-color);
  border-bottom: 2px solid var(--active-color);
}

.search-form__btn {
  display: flex;
  margin-right: 0px;
  margin-left: 60px;
  padding: 14px 11px 9px;
}

.search-form__btn_icon path{
  transition: stroke .3s ease;
}

.search-form__btn:hover .search-form__btn_icon path,
.search-form__btn:focus .search-form__btn_icon path {
  stroke: var(--accent-color);
}
.search-form__btn:active .search-form__btn_icon path {
  stroke: var(--active-color);
}
