.hero {
  margin-bottom: 104px;
}

.hero__slide_descr {
  position: relative;
  padding: 108px 0 91px 79px;
  z-index: 2;
}
.swiper-container {
  width: 100%;
  min-height: 620px;
}

.swiper-wrapper {
  position: absolute;
  top: 0;
}

.hero__banner-slide_pic_1 {
 background: no-repeat center / cover;
}

.hero__banner-slide_pic_2 {
  background: no-repeat center / cover;
 }

 .hero__banner-slide_pic_3 {
  background: no-repeat center / cover;
 }

 .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
   bottom: 30px;
 }

 .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
  margin:0 10px
 }

 .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
 }

 .swiper-pagination-bullet-active {
  opacity: 1;
  background: var(--white-color);
}

 .swiper-pagination-bullet:hover:not(.swiper-pagination-bullet-active),
 .swiper-pagination-bullet:focus:not(.swiper-pagination-bullet-active) {
   opacity: 1;
   background-color: rgba(0, 0, 0, 0.2);
   border: 1px solid var(--white-color);
 }

.hero__title {
  max-width: 850px;
  margin-bottom: 17px;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: var(--white-color);
}

.hero__descr {
  max-width: 840px;
  margin-bottom: 94px;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: var(--white-color);
}

.hero__btn {
  width: 280px;
  padding: 29px 38px 23px;
  font-size: 23px;
  line-height: 28px;
}

.hero__slider {
  display: none;
  justify-content: center;
  align-items: flex-end;
  margin-left: -45px;
  margin-bottom: 30px;

}
.hero__slider_btn:not(:last-child) {
  margin-right: 20px;
}

.hero__slider_btn:hover .hero__slider_btn_icon circle,
.hero__slider_btn:active .hero__slider_btn_icon circle,
.hero__slider_btn:focus .hero__slider_btn_icon circle {
  fill-opacity: 1;
}
