@media (max-width: 1760px) {
  .f-center {
   margin-left: auto;
  }
}
@media (max-width: 1360px) {
  .container {
    max-width: 1024px;
    padding: 0 50px;
  }
  /* Header */
  .header {
    position: relative;
    z-index: 5;
    width: 100%;
    transition: transform 0.3s ease;
  }
  .header.out {
    transform: translateY(-101%);
  }

  .header__logo {
    position: relative;
    z-index: 1;
    height: 48px;
    margin: 0 auto;
  }

  .header__burger {
    position: relative;
    z-index: 1;
    display: flex;
  }

  .header__burger_icon rect {
    transition: all .3s ease;
  }

  .header__burger.active .header__burger_icon rect:first-child  {
    transform: rotate(45deg);
    transform-origin: 2px 4.2px;
  }
  .header__burger.active .header__burger_icon rect:nth-child(2)  {
    fill: transparent;
  }
  .header__burger.active .header__burger_icon rect:last-child  {
    transform: rotate(-45deg);
    transform-origin: 1.4px 19.7px;
  }

  .header__burger:hover .header__burger_icon rect,
  .header__burger:focus .header__burger_icon rect {
    fill: var(--accent-color);
  }

  .header__burger:hover .header__burger_icon rect:nth-child(2),
  .header__burger:focus .header__burger_icon rect:nth-child(2) {
    width: 25px;
  }

  .header__burger:hover:not(.header__burger.active) .header__burger_icon rect:last-child,
  .header__burger:focus:not(.header__burger.active) .header__burger_icon rect:last-child {
    width: 18px;

  }

  .header__burger:active .header__burger_icon rect {
    fill: var(--active-color);
  }
/* Nav burger */
  .nav-header {
    position: absolute;
    top: 100px;
    display: flex;
    justify-content: center;
    width: 370px;
    height: 668px;
    background-color: var(--white-color);
    transform: translateY(-121%);
    transition: transform .3s ease;
    box-shadow: 1px 0px 20px 0px rgba(0, 0, 0, .5);
  }

  .nav-header.active {
    transform: none;
  }

  .nav-header__list {
    display: flex;
    flex-direction: column;
    width: 1024px;
    padding: 50px 0 0 20px;
  }
  .nav-header__item {
    margin-bottom: 55px;
    font-size: 24px;
  }
  .search-form__btn {
    margin-left: auto;
    margin-right: -2px;
    padding: 12px 0px 9px 7px;
  }
  /* Hero */
  .hero {
    position: relative;
    margin-bottom: 62px;
  }
  .swiper-container {
    min-height: 668px;
  }
  .hero__slide_descr {
    padding: 163px 0 114px 45px;
  }

  .hero__title {
    margin-bottom: 6px;
    font-size: 60px;
    line-height: 74px;
    color: var(--white-color);
  }
  .hero__descr {
    max-width: 700px;
    margin-bottom: 109px;
    font-size: 20px;
    line-height: 24px;
  }
  .hero__btn {
    width: 287px;
  }
  .hero__slider {
    display: flex;
  }
  /* About */
  .about__title {
    margin-bottom: 23px;
    margin-left: 0;
  }
  .about__descr {
    max-width: 100%;
    margin-bottom: 59px;
    line-height: 32px;
  }
  .about__cards-container {
    flex-wrap: wrap;
  }
  .big-card {
    display: flex;
    flex: 1 1 870px;
    min-height: 640px;
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 50px;
  }
  .big-card__descr-container {
    min-height: 173px;
    padding: 0 50px 0 44px;
  }
  .small-cards {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }
  .small-cards__card {
    max-width: 100%;
    padding: 0 12% 0 calc(37% + 6px);
  }
  .small-cards__card:first-child {
    margin-bottom: 40px;
  }
  .small-cards__card_bgr-1 {
    background: no-repeat 15% 49% url(../img/about/box.svg);
  }

  .small-cards__card_bgr-2 {
    background: no-repeat 15% 45% url(../img/about/cogwheel.svg);
  }
  .about {
    margin-bottom: 62px;
  }
  /* Work */
  .work {
    margin-bottom: 58px;
  }
  .step__descr {
    max-width: 440px;
    margin-bottom: 29px;
    line-height: 32px;
  }
  .step__btn_contract {
    height: 60px;
  }
  .step__img {
    max-width: 437px;
  }
  .step__img_bg-1 {
    background: no-repeat center / cover;
  }
  .step__img_bg-2 {
    background: no-repeat 30% / cover;
  }
  .step__img_bg-3 {
    background: no-repeat center / cover;
  }
  .step__img_bg-4 {
    background: no-repeat center / cover;
  }
  /* questions */
  .questions {
    margin-bottom: 48px;
  }
  .questions__title {
    margin-bottom: 35px;
  }
  .questions__item_text {
    font-size: 20px;
  }
  /* footer */
  .f-left {
    margin-right: auto;
  }
  .f-center {
    max-width: 534px;
    margin: 0 0 0 30px;
  }
  .f-center__btn {
    width: 241px;
    margin-right: 15px;
    padding: 22px 0;
  }
  .footer__right {
    display: none;
  }
}

@media (max-width: 850px) {
  .container {
    max-width: 768px;
    padding: 0 50px;
  }
  /* Header */
  .header {
    margin-bottom: 0;
  }
  .header__container {
    min-height: 69px;
  }
  .nav-header {
    top: 69px;
    width: 300px;
    transform: translateY(-121%)  translateX(-50px);
  }

  .nav-header__list {
    width: 100%;
    padding: 80px 0 0 90px;
  }

  .nav-header__item {
    margin-bottom: 70px;
  }

  .nav-header.active {
    transform:  translateX(-50px);
  }
  /* Hero */
  .hero {
    padding: 0;
  }
  .swiper-container {
    min-height: 699px;
  }
  .hero__slide_descr {
    padding: 194px 20px 114px 50px;
  }
  /* About */
  .big-card {
    min-height: 650px;
    margin-bottom: 40px;
  }
  .big-card__descr-container {
    padding: 0 30px 0 29px;
  }
  .small-cards__card {
    min-height: 235px;
    max-width: 100%;
    padding: 10px 20px 10px 177px;
  }
  .small-cards__card:first-child {
    margin-bottom: 40px;
  }
  .small-cards__card_bgr-1 {
    background: no-repeat 5.5% 50.5% / 118px url(../img/about/box.svg);
  }

  .small-cards__card_bgr-2 {
    background: no-repeat 5.5% 50% / 114px  url(../img/about/cogwheel.svg);
  }
  /* Work */
  .work {
    margin-bottom: 63px;
  }
  .work__step:not(:last-child) {
    margin-right: auto;
  }
  .step {
    flex-direction: column-reverse;
  }
  .work__steps {
    display: flex;
    margin-bottom: 44px;
  }
  .step__container {
    margin-right: 0;
  }
  .step__descr {
    max-width: 100%;
    margin-bottom: 29px;
    line-height: 32px;
  }
  .step__img {
    max-height: 284px;
    min-width: 100%;
    margin: 0 0 40px 0;
  }
  .step__img_bg-1 {
    background: no-repeat top left / cover;
  }
  .step__img_bg-2 {
    background: no-repeat top left / cover;
  }
  .step__img_bg-3 {
    background: no-repeat top left / cover;
  }
  .step__img_bg-4 {
    background: no-repeat top left / cover;
  }
  /* Questions */
  .questions {
    margin-bottom: 58px;
  }
  .questions__title {
    margin-bottom: 35px;
    margin-right: -25px;

  }
  /* Footer */
  .footer__container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .nav-footer {
    display: none;
  }
  .f-left {
    max-width: 320px;
    margin-right: auto;
    padding-top: 4px;
  }
  .f-left__logo {
    margin-bottom: 13px;
  }
  .f-center {
    width: 100%;
    margin: 0 auto 23px 0;
    padding-top: 52px;
  }
  .f-center__btn-container {
    margin-bottom: 30px;
  }
  .f-center__form {
    border-bottom: 1px solid var(--footer-border);
  }
}

@media (max-width: 750px) {
  /* hero */
  /* About */
  .big-card__descr-container {
    flex-direction: column;
    padding: 0 30px 0 29px;
  }
  .big-card {
    background-position: center;
  }
  .big-card__descr-text {
    max-width: 100%;
    margin: 20px 0 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
    color: var(--white-color);
  }
  .big-card__btn {
    margin: 20px auto;
  }
  .small-cards__card {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    min-height: 295px;
    max-width: 870px;
    padding: 100px 0 0 0;
    border: none;
  }
  .small-cards__descr{
    font-size: 14px;
    line-height: 28px;
  }
  .small-cards__card_bgr-1 {
    background: no-repeat top left / 118px url(../img/about/box.svg);
  }

  .small-cards__card_bgr-2 {
    background: no-repeat top left / 114px  url(../img/about/cogwheel.svg);
  }
  /* work */
  .step__img_bg-1 {
    background: no-repeat top left / cover;
  }
}
@media (max-width: 500px) {
  .container {
   max-width: 460px;
   padding: 0 15px;
  }
  .title {
    font-size: 24px;
    line-height: 30px;
  }
  /* Header */
  .header__container {
    flex-direction: row-reverse;
    align-items: center;
  }
  .header__burger {
    margin-left: auto;
    margin-right: -7px;
    padding: 10px 7px;
  }
  .header__burger_icon {
    transform: scale(-1,1);
  }

  .nav-header {
    top: 69px;
    right: auto;
    width: 185px;
    height: 262px;
    transform: translateY(-131%)  translateX(0);
  }
  .nav-header.active {
    transform: translateX(0);
  }
  .nav-header__list {
    padding: 20px 0 0 60px;
  }
  .nav-header__item {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 20px;
  }
  .header__logo {
    margin: 0;
  }
  .search-form {
    display: none;
  }

  /* Hero */

  .hero {
    margin-bottom: 40px;
  }
  .swiper-container {
    display: flex;
    min-height: 262px;
  }
  .swiper-pagination {
    display: none;
  }
  .hero__slide_descr {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    padding: 20px;
  }
  .hero__title {
    margin-bottom: 6px;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
  }
  .hero__descr {
    max-width: 840px;
    margin-bottom: 34px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
  }
  .hero__btn {
    width: 162px;
    height: 40px;
    padding: 0;
    font-size: 12px;
    line-height: 1;
  }
  .hero__slider {
    display: none;
  }
  /* About */
  .about {
    margin-bottom: 45px;
  }
  .about__title {
    margin-bottom: 0;
  }
  .about__descr {
    margin-bottom: 11px;
    font-size: 14px;
    line-height: 28px;
  }
  .big-card {
    min-height: 399px;
    margin-bottom: 33px;
    background: no-repeat top left / contain 200px;
  }
  .big-card__descr-container {
    padding: 0 ;
    background: transparent;
  }
  .big-card__descr-text {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    color: var(--black-color);
  }
  .big-card__btn {
    align-self: flex-start;
    height: 40px;
    width: 162px;
    padding: 10px 10px;
    margin: 0;
    font-size: 12px;
    color: var(--accent-color);
    border: 2px solid var(--accent-color);
  }

  .big-card__btn:hover,
  .big-card__btn:active {
    color: var(--white-color);
  }
  .small-cards__card {
    min-height: 0;
    padding: 70px 0 0 0;
    border: none;
  }
  .small-cards__card:first-child {
    margin-bottom: 17px;
  }
  .small-cards__descr::first-line {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
  }
  .small-cards__descr_br {
    display: inline;
  }
  .small-cards__card_bgr-1 {
    background: no-repeat 0 7px / 64px url(../img/about/box.svg);
  }
  .small-cards__card_bgr-2 {
    background: no-repeat 0 1px / 64px  url(../img/about/cogwheel.svg);
  }
  /* Work */
  .step__btn-container {
    display: flex;
    height: 40px;
  }
  .step__btn_more {
    width: 162px;
    padding: 0 10px;
    text-align: center;
    font-size: 12px;
  }
  .step__btn_contract {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 118px;
    padding: 0 10px;
    font-size: 12px;
  }

  .step__img {
    flex: 1 1 160px;
    min-height: 160px;
    min-width: 100%;
    margin: 0 0 8px 0;
  }
  /* Questions */
  .questions {
    margin-bottom: 39px;
  }
  .questions__title {
    margin: 0 0 12px 0;
  }
  .questions__item_btn {
    padding: 30px 0 30px;
  }
  .questions__item_text {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
  }

  .questions__item_icon {
    flex: 0 0 30px;
    width: 30px;
    height: 30px;
  }

  .questions__item_icon::before {
    width: 1px;
    height: 17px;
  }

  .questions__item_icon::after {
    width: 17px;
    height: 1px;
  }

  .questions__item_descr {
    display: none;
    max-width: 1005px;
    font-size: 14px;
    line-height: 22px;
  }
  /* Footer */

  .footer {
    padding-bottom: 0;
  }
  .f-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  .f-center {
    flex: 1 1 auto;
    width: 100%;
    padding-top: 38px;
  }
  .f-center__title {
    margin-bottom: 20px;
  }
  .f-center__area {
    margin-bottom: 25px;
  }
  .f-center__btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }
  .f-center__btn {
    width: 180px;
    height: 40px;
    margin-right: 0;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 12px;
    line-height: 15px;
  }
  .f-center__agreement {
    margin: 10px 0 32px;
  }
  .f-left {
    margin-bottom: 20px;
    padding-top: 0;
  }
  .f-left__logo {
    height: 50px;
    margin-bottom: 16px;
  }
  .social__item:not(:last-child) {
    margin-right: 15px;
  }
  .social__item_link,
  .social__item_link svg {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 400px) {
  /* Header */
  .header__container {
    min-height: 45px;
  }

  .header__burger svg {
    width: 25px;
    height: 19px;
  }

  .nav-header {
    top: 45px;
  }

  .header__logo {
    height: 31px;
  }
  /* hero */
  .hero__title {
    margin-bottom: 9px;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
  }
  /* About */

  /* Work */
  .work {
    margin-bottom: 40px;
  }
  .work__title {
    margin-bottom: 33px;
  }
  .work__steps {
    margin-bottom: 15px;
  }
  .work__step_btn {
    font-size: 14px;
    line-height: 17px;
  }
  .step__title {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
  }
  .step__descr {
    margin-bottom: 19px;
    font-size: 14px;
    line-height: 28px;
  }
  .step__btn_contract {
    margin-left: auto;
  }
  /* Questions */

  /* Footer */
  .f-left__logo {
    height: 42px;
    margin-bottom: 16px;
  }
  .social__item:not(:last-child) {
    margin-right: 15px;
  }
  .social__item_link,
  .social__item_link svg {
    width: 34.4px;
    height: 34.4px;
  }
}
