.questions {
  margin-bottom: 100px;
}

.questions__title {
  margin-bottom: 36px;
}

.questions__list {
 padding: 0 3px;
}

.questions__item {
  position: relative;
  margin-top: -1px;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  transition: .5s;
}

.questions__item:hover,
.questions__item_btn:focus .questions__item,
.questions__item.active {
  border-color: var(--accent-color);
  z-index: 2;
}

.questions__item_btn {
  display: flex;
  align-items: center;
  min-width: 100%;
  padding: 30px 0;
  transition: .5s;
}

.questions__item_text {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
}

.questions__item_icon {
  position: relative;
  display: flex;
  flex: 0 0 50px;
  width: 50px;
  height: 50px;
  margin-left: auto;
  background: #ECECEC;
  border: none;
  border-radius: 50%;
  transition: .5s;
}

.questions__item_icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 31px;
  background-color: var(--questions-icon-plus-color);
  transform:translate(-50%, -50%);
}

.questions__item_icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 31px;
  height: 1px;
  background-color: var(--questions-icon-plus-color);
  transform:translate(-50%, -50%);
}

.questions__item_icon_plus:first-child {
  width: 1px;
  height: 31px;
}
.questions__item_icon_plus:last-child {
  width: 31px;
  height: 1px;
}

.questions__item:hover .questions__item_icon,
.questions__item_btn:focus .questions__item_icon {
  background: #d2d2d2;
}

.questions__item_icon.active {
  transform:rotate(90deg);
}

.questions__item:hover .questions__item_btn,
.questions__item_btn:focus,
.questions__item_btn.active {
  color: var(--accent-color);
  cursor: pointer;
  z-index: 1;
}


.questions__item_descr {
  display: none;
  max-width: 1005px;
  line-height: 32px;
}

.questions__item_descr p {
  margin-bottom: 30px;
}
