html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;

  background-color: var(--white-color);  /* под проект */
  font-family: "Montserrat", Arial, sans-serif;  /* в "" свой шрифт под проект*/

  font-size: 16px;
  color: var(--text-color);
  line-height: 1;
}

button, input {
  padding: 0;
  margin: 0;
  font: inherit;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}



button:focus,
input[type=checkbox]:focus,
label,
a,
span {
  outline: none;
}


input:focus,
textarea:focus {
  outline: 2px solid var(--accent-color);
  -moz-outline-radius: 3px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
  transition: border-bottom .3s, color .3s ease;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, p {
  padding: 0;
  margin: 0;
}

.main {
  background: linear-gradient(to bottom, #e9e9e9 0%, #FFFFFF 1%, #FFFFFF 100%);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 700;
  background: var(--accent-color);
  color: var(--white-color);
  transition: background-color .3s, border-color .3s, color .3s ease;
}

.hero__btn:hover,
.step__btn_more:hover,
.form__btn:hover,
.f-center__btn:hover,
.hero__btn:focus,
.step__btn_more:focus,
.form__btn:focus,
.f-center__btn:focus {
  background-color: var(--accent-light-color);
}

.hero__btn:active,
.step__btn_more:active,
.form__btn:active,
.f-center__btn:active  {
  background-color: var(--active-color);
}

.title {
  font-size: 48px;
  font-weight: 400;
  line-height: 58px;
}

/* container */

.container {
  max-width: 1800px;  /*под проект*/
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* при работе с float */

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
