:root {
  --black-color: #000;
  --white-color: #fff;
  --text-color: #333;
  --contract-color: #666;
  --accent-color: #ff9900;
  --accent-light-color: #ffbb55;
  --active-color: #E1670E;
  --border-color: #CACACA;
  --questions-icon-plus-color: #666;
  --footer-color: #222222;
  --footer-text-color: #CACACA;
  --footer-border: #595959;
  --bg-input: #414141;
  --social-hover: #a3a3a3;
  --focus-color: #00fff2;
}
