.work {
  margin-bottom: 104px;
}

.work__title {
  margin-bottom: 47px;
}

.work__steps {
  display: flex;
  margin-bottom: 45px;
}

.work__step:not(:last-child) {
  margin-right: 90px;
}

.work__step_btn {
  font-size: 18px;
  line-height: 22px;
  background: none;
  border: none;
  transition: color .3s ease;
}

.work__step_btn:hover,
.work__step_btn:focus {
  color: var(--accent-color);
}

.work__step_btn:active {
  color: var(--active-color);
}

.work__step_btn.current {
  color: var(--active-color);
}

.work__step_btn:visited {
  color: var(--accent-color);
}

.step {
  display: none;
}

.step.current {
  display: flex;
}

.step__container {
  margin-right: 20px;
}

.step__title {
  margin-bottom:2px;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.step__descr {
  max-width: 760px;
  margin-bottom: 61px;
  line-height: 32px;
}

.step__btn-container {
  display: flex;
}

.step__btn_more {
  width: 175px;
  padding: 22px 39px;
}

.step__btn_contract {
  width: 147px;
  height: 58px;
  margin-left: 30px;
  padding: 21px 38px;
  line-height: 1;
  border: 1px solid var(--text-color);
  transition: color .3s, background-color .3s, border-color .3s ease;
}

.step__btn_contract:hover,
.step__btn_contract:focus {
  color: var(--white-color);
  background-color: var(--contract-color);
}

.step__btn_contract:active {
  color: var(--white-color);
  background-color: var(--black-color);
  border-color: var(--black-color);
}

.step__img {
  display: flex;
  flex: 1 1 870px;
  max-height: 100%;
  max-width: 870px;
  margin-top: 10px;
  margin-left: auto;
}

.step__img_bg-1 {
  background: no-repeat top left / cover;
}
.step__img_bg-2 {
  background: no-repeat top left / cover;
}
.step__img_bg-3 {
  background: no-repeat top left / cover;
}
.step__img_bg-4 {
  background: no-repeat top left / cover;
}

